<!-- DashboardDEBUT -->
<!-- sidebar debut -->


<div class="sidebar">
    <div class="sidebar-brand">
      <!-- <h1> <span class="fab fa-asymmetrik"> </span> <span>Debbo</span>
      </h1> -->
      <!-- <div class="img"
        style="background-image: url(//src/assets/img/Logo2.png);">
      </div> -->
      <img src="/src/assets/Logo1.png" alt="">
    </div>
    
    <div class="sidebar-menu">
      <div class="image"><img src="/assets/DEM-removebg-preview.png" alt=""></div>
  
      <ul>
        <li>
            <a  class="active" >
              <span class="fas fa-users" ></span>
              <span>Gestion RV</span>
            </a>
          </li>
        <li>
          <a class="switch" [routerLink]="['/gestionPatientePS']" >
            <span class="fas fa-tachometer-alt"></span>
            <span>Gestion Patientes</span>
          </a>
        </li>
        <li>
          <a class="switch" [routerLink]="['/ressourcesPS']">
            <span class="fas fa-book-reader"></span>
            <span>Ressources</span>
          </a>
        </li>
        <div class="logout mt-5">
          <a [routerLink]="['/accueil']" routerLinkActive="router-link-active">
            <i class="fas fa-sign-out-alt"></i> Deconnexion
        </a>
        </div>
      
      </ul>
  
    </div>
  </div>    
  
  <!-- sidebar Fin -->
  
  <!-- contenuDash debut -->
  
  <div class="main-content">
    <header class="headDash">
      <!-- <h2>
        <label for="nav-toggle">
          <span class="fas fa-bars"></span>
        </label>
        Dashboard
      </h2> -->
  
      <!-- <div class="search-wrapper">
        <span class="fas fa-search"> </span>
        <input type="search" placeholder="Search..." />
        
      </div> -->
      <div class="fa-bell">
        <i class="fa-solid fa-bell"></i>
      </div>
  
      <div class="user-wrapper">
       <img src="/src/assets/imgs/customer01.jpg" width="40px" height="40px" alt="profile-img">
       <div class="">
          <h5>PS</h5>
       </div>
      </div>
    </header>
  
    <main>

      <div class="recent-grid">
        <div class="col-lg-12">
          <div class="card table">
            <div class="card-header">
              <h4>Gestions des RV et des Taches</h4>
            </div>
            <iframe src="https://calendar.google.com/calendar/embed?src=VOTRE_ID_CALENDRIER" style="border: 0" width="100%" height="700" frameborder="0" scrolling="no"></iframe>
          </div>
  
        </div>
              </div>
  
          
          
        
      </main>
    </div>
  <!-- contenuDash FIN -->
  <!-- popup pour deconnexion debut -->
  <!-- popup pour deconnexion  fin -->
  
  




<!-- DashboardFin -->
<!-- le calendrier gOOgle Agenda -->
