
<input type="checkbox" id="nav-toggle">

<div class="sidebar">
    <div class="sidebar-brand">
      <!-- <h1> <span class="fab fa-asymmetrik"> </span> <span>Debbo</span>
      </h1> -->
      <div class="img"
        style="background-image: url(//src/assets/img/Logo2.png);">
      </div>
      <!-- <img src="/src/assets/img/Logo2.png" alt=""> -->
    </div>
    
    <div class="sidebar-menu">
      <div class="image"><img src="/assets/DEM-removebg-preview.png" alt=""></div>

      <ul>
        <li>
          <a href="#" class="active">
            <span class="fas fa-tachometer-alt"></span>
            <span>Mon cycle</span>
          </a>
        </li>
        <li>
        <a class="switch" [routerLink]="['/listepatientesAdmin']"  >
            <span class="fas fa-users" ></span>
            <span>Forum</span>
        </a>
        </li>
        <li>
        <a href="#">
            <span class="fas fa-book-reader"></span>
            <span>FGHJKLK</span>
        </a>
        </li>
        <!-- <li>
          <a href="#">
            <span><i class="fas fa-comments"></i></span>
            <span>Gestion Contenu</span>
          </a>
        </li> -->
        <!-- <li>
        <a href="#">
            <span><i class="fas fa-user-plus"></i></span>
            <span>Ajout Personel</span>
        </a>
        </li> -->
        <div class="logout mt-5">
        <a class="switch" [routerLink]="['/accueil']"   class="logout">
            <i class="fas fa-sign-out-alt"></i> Deconnexion
        </a>
        </div>
    
    </ul>

    </div>
</div>    

<div class="main-content">
  <header class="headDash">
    <!-- <h2>
      <label for="nav-toggle">
        <span class="fas fa-bars"></span>
      </label>
      Dashboard
    </h2> -->

    <!-- <div class="search-wrapper">
      <span class="fas fa-search"> </span>
      <input type="search" placeholder="Search..." />
      
    </div> -->
  </header>

  <main>


    <div class="recent-grid">
    <div class="col-lg-12">
    <!-- tableau mon Cycle -->

        </div>
        </div>

        <!-- </div>
        
      </div>   -->
      <div class="card-group">
          <div class="card">
            <img src="/assets/image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card">
            <img src="/assets/image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
          <div class="card">
            <img src="/assets/image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          
          </div>
        </div>
    </main>
  </div>